* {
    margin: 0px;
    padding: 0px;
}
h1 {
    color: yellow;
}
body {
    background-color:  #2b2d42;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:#ef4444 ;
    background-color: #ffffc7;
}
#reset {
    padding: 10px;
    font-size: large;
    background-color: black;
    color:wheat;
    border-radius: 1rem;
    border: none;
   margin-bottom: 1rem;
}
#newGame {
    padding: 10px;
    font-size: large;
    background-color: black;
    color:wheat;
    border-radius: 1rem;
    border: none;
}
.msg{
    font-size: 40px;
    color: aliceblue;
}
.msgContainer {
   height: 20vmin ;
}
.hide{
    display: none;
}
#whoseTurn{
    
    font-size: 50px;
    color: beige;
    
}